:root{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fffbf1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body, ul, li, p {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

h1,
h2{
    text-align: center;
    margin: 0px;
}

/* Placeholder styling for all input types */
input::placeholder, input::-moz-placeholder, input::-webkit-input-placeholder, input:-ms-input-placeholder {
  color: #888888;
  opacity: 1;
}

/* ---------- HEADER ------------  */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #ff7400;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
  align-items: center;
  box-sizing: border-box; /* Added for consistency */
  height: 60px;  /* <-- Set the height explicitly */
  padding: 5px 5px; /* Adjust padding to fit inside 60px */
  z-index: 1000; /* Ensures the header is above other content */
}


.logo {
  width: 50px;
}

.header h1 {
  display: block;
}

.header a {
  text-decoration: none;
  color: #ffffff;
}

.menu, .logout {
  display: flex;
  justify-content: space-between;
}

.menu li, .logout li {
  margin-left: 10px;
}

.menu li a, .logout li a {
  display: block;
  padding: 10px;
}

.logout li a:hover {
  background-color: orange;
}

/* Header.module.css */


.menuContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #FFA500;
  list-style: none;
  padding: 10px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdownOpen {
  opacity: 1;
  transform: scaleY(1);
}

.dropdownItem {
  padding: 10px;
  color: white;
  text-decoration: none;
  display: block;
  transition: background 0.3s;
}

.dropdownItemHover:hover {
  background-color: #D35400;
}

.menuItem {
  position: relative;
  padding: 10px;
  cursor: pointer;
}

.rightSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  position: relative;
}

.rightSection .menuItem .dropdown {
  right: 0; /* Align dropdown to the right edge of the parent */
  left: auto; /* Prevent it from inheriting a default left alignment */
}

.link {
  background-color: #E67E22;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s;
}

.link:hover {
  background-color: #D35400;
}

/* ----------- PAGE BODY -------- */

.pagebody {
  position: relative;
  padding-top: 60px;
}

.calendarbody{
  display: flex; 
  width: 100%; 
}

.calendarbody .sidebar {
  width: 20%;
  height: calc(100vh - 60px);
  overflow-y: auto;
  background-color: #FFEFE2; /* deep orange */
  color: #333333;
  padding: 20px;
  box-sizing: border-box;
}

.calendarbody .sidebar-section {
  margin-bottom: 15px;
  border-bottom: 1px solid #ff9800; /* light orange border */
  padding-bottom: 10px;
}

.calendarbody .section-header {
  width: 100%;
  background: none;
  border: none;
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
}

.calendarbody .section-content {
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
}

.calendarbody .main-content {
  flex: 1;
  padding: 5px;
  max-width: 100%;
  box-sizing: border-box;
  height: calc(100vh - 60px);
  overflow-y: auto;
  background-color: #fff3e0;
  color: #333333;
}

/* ---------- BUTTON STYLES ------------ */

button {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #898989;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 10px;
}

button:hover {
  background-color: #ff7a3d;
  color: #000;
}

button:focus, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* ---------- FORM STYLES ------------ */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container label {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.input {
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #4CAF50;
  outline: none;
}


/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*  --------------  MODAL --------------  */

/* Show-Hide */

.modal-hidden {
  display: none; /* Hidden by default */
}

.modal-shown {
  display: flex;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

/* Tempo Form Content */
.tempoForm-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow: auto;
  background-color: #fefefe;
  width: 100%;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 15px;
  box-sizing: border-box;
}

.tempoForm-section{
  border: 1px dashed #ccc; /*FOR DEBUGGIN*/
  border-radius: 5px;
  margin: 5px 0px;
  padding: 5px 20px;
}

.section-col-01{
  grid-column: span 1;
}
.section-col-02{
  grid-column: span 2;
}
.section-col-03{
  grid-column: span 3;
}
.section-col-04{
  grid-column: span 4;
}
.section-col-06{
  grid-column: span 6;
}
.section-col-08{
  grid-column: span 8;
}
.section-col-09{
  grid-column: span 9;
}
.section-col-12{
  grid-column: span 12;
}

.event-details{
  display: flex;
  flex-direction: column;
}

.event-users{
  display: flex;
  flex-direction: column;
}

.event-duration {
  display: flex;
}



/* ---------- TABLE STYLES ------------ */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
}

/* Table action buttons */
.table-actions {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin: 0 5px;
  width: 100%;
}


.table-actions a:hover {
  opacity: 0.8;
}

/* ---- BOTOES ----- */

.btn {
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.btn:hover {
  background-color: #45a049;
}

.accept {
  background-color: #4CAF50;
}

.reject {
  background-color: #f44336;
}

.cancel {
  background-color: #ff9800;
}

.remove {
  background-color: #9e9e9e;
}


/*  ----CALENDARIO GRID-----  */

.calendar-container {
  display: grid;
  grid-template-columns: 2fr repeat(7, 5fr);
  grid-gap: 5px;
  margin: auto;
  background-color: #FFF8E7;
  border: 2px solid #4A4A4A;
  border-radius: 5px;
}

.calendar-container .calendar-header {
  text-align: center;
  background-color: #ff9a00;
  color: #FFF8E7;
}

.calendar-container .col-08 {
   grid-column: span 8;
}

.calendar-container .calendar-cell {
  overflow-y: hidden;
  scrollbar-width: none;
  white-space: nowrap; /* Prevents line breaks */
  height: 8em;
  width: 100%;
}

.calendar-container .calendar-cell .dateContent {
  overflow-y: auto;
  height: 100%;
  scrollbar-width: none;
}


.calendar-container .label {
  width: auto;
  color: #FFF8E7;
  background-color: #ff9a00;
  text-align: center;
  justify-content: flex-end;
}

.calendar-container .selectedMonth {
  background-color: #ffe07f;
  color: #333333;
}

.calendar-container .notSelectedMonth {
  background-color: #fff2cc;
  color: #4A4A4A;
}

/*.calendarGrid .showCol{
  width: 150px;
  transition: all 0.5s ease
}

.calendarGrid .hideCol{
  width: 0px;
  transition: all 0.5s ease;
}

.calendarGrid .focusRow{
  height: 100%;
  transition: all 0.5s ease;
}

.calendarGrid .showRow{
  height: 10rem;
  transition: all 0.5s ease;
}

.calendarGrid .hideRow{
  height: 0rem;
  transition: all 0.5s ease;
}*/

.calendarTask{
  border: 2px solid;   /*Só para eu identificar os treco*/
  width: auto; /* Adjust as needed */
  overflow: hidden; /* Hides overflow */
  text-overflow: ellipsis; /* Adds "..." for overflow text */
  white-space: nowrap; /* Prevents line breaks */
} 


/* ------- CONTAINERS --------------*/

/* Global Container Styling for All Forms & Tables */

.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.full-container {
  margin: auto;
  width: 95%;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Main layout */
.login-container {
  display: flex;
  align-items: centero aut;
  justify-content: center;
  gap: 10px; /* Reduce spacing between columns */
}


/* Left column (Logo) */
.left-column {
  flex: 1; /* Takes 1 part of the space */
  display: flex;
  justify-content: center;
  align-items: center;
}



.left-column img {
  width: 80%;
  max-width: 300px; /* Adjust max size */
  height: auto;
}

/* Vertical Separator */
.separator {
  width: 2px;
  height: 70%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.1); /* Almost transparent */
}

/* Right column (Form) */
.right-column {
  flex: 1.5; /* Takes 1.5 parts of the space */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.card-container {
  padding: 5px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.day-container {
  display: relative;
  position: relative;
/*  height: 30em;*/
  flex-direction: column;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  border: none;
  scrollbar-width: thin;
  box-sizing: border-box; /* Added for consistency */
}

.time-container {
  position: relative;
  width: 100%; /* Takes the full width of the container */
  height: 0.5em; /* 2em = 1h */
  overflow: visible;
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(211, 211, 211, 0.6);
  display: flex;/* Ensures inner elements are arranged horizontally */
  align-items: center; /* Centers content vertically */
  box-sizing: border-box; /* Includes padding/border in height calculation */
  white-space: nowrap; /* Prevent text wrapping */
}

.time-text {
  font-size: 0.75em;
  font-weight: 300; /* Applies a light font weight */
  position: absolute;
  left: 0;
  top: -4px;
}

.tempo-container {
  position: absolute;
  width: auto;
  min-width: 50px;
  max-width: 30%;
  margin: 0 5px; /* Spacing between tasks */
  padding: 0px 5px; /* Padding for better visibility */
  background-color: #FFCC99; /* Background color */
  border: 1px solid gray; /* Border around task */
  border-radius: 8px; /* Smooth rounded corners */
  box-sizing: border-box;
  z-index: 1; 
}



/* Optional: Apply a hover effect for tasks to make them interactive */
.task-container:hover {
  background-color: orange;  /* Slightly darker blue on hover */
}


/* Responsive Design for Smaller Screens */
@media (max-width: 500px) {
  .container {
    padding: 15px;
  }

  .input, .btn {
    font-size: 16px;
  }
}


/* --------------------- */

.loginform{
  border-radius: 5px;
  border-color: #888888;
  padding: 25px;
  width: 30%;
  margin: auto auto auto auto;
}

.login-input {
  background-color: #fcfcfc;
}

.login-page {
  display: grid;
  overflow: hidden;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  padding: 5%;
  box-sizing: border-box; 
  border: 1px solid;
}

/* Title stays in the center */
.title-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}

.login-title {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}

/* ---------- INPUT & SELECT STYLES ------------ */
input[type=text], input[type=password], input[type=number], input[type=date], input[type=time], input[type=datetime-local], select {
  width: 100%;
  padding: 08px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #000;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

