:root{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fffbf1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-scope="dialog"] {
  background: #1a1a1a !important;
  --bg-currentcolor: #1a1a1a !important;
}

button {
  background-color: #1a1a1a;
  color: #ffffff;
}

input::placeholder {
  color: #888888;
  opacity: 1;
}

/* For Firefox */
input::-moz-placeholder {
  color: #888888;
  opacity: 1;
}

/* For Chrome/Safari/Opera */
input::-webkit-input-placeholder {
  color: #888888;
}

/* For Internet Explorer */
input:-ms-input-placeholder {
  color: #888888;
}


body, ul, li, p {
  margin: 0px;
  padding: 0px;
  list-style: none;

}

/*  ---------- HEADER ------------  */ 

.header{
  background: #ff7a3d;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  width: 50px;
}

.header h1 {
  display: block;
}

/* h1:hover {
  background-color: orange;
} */

.header a {
  text-decoration: none;
  color: #ffffff;
}

.menu{
  display: flex;
  justify-content: space-between;
}

.menu li{
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
}

/* .menu li a:hover {
  background-color: orange;
} */

.logout{
  display: flex;
  justify-content: space-between;
}

.logout li{
  margin-left: 10px;
}

.logout li a {
  display: block;
  padding: 10px;
}

.logout li a:hover {
  background-color: orange;
}

/*  -------------------- */

/*  ----CALENDARIO -----  */

.calendarGrid {
  display: grid;
  grid-template-columns: 50px repeat(7, auto);
  grid-gap: 5px;
  width: 80%;
/*  min-width: 50%;
  max-width: 90%;*/
  margin: auto;
  background-color: #FFF8E7; /* Light Orange */
  border: 2px solid #4A4A4A;
  border-radius: 5px;
}

.calendarGrid .dayInMonthCal{
  overflow: hidden;
  background-color: #FFA500; /* Orange */
  color: #FFF8E7; /* Light Orange text */

}

.calendarGrid .dayOutMonthCal{
  overflow: hidden;
  background-color: #FFDAB9; /* PeachPuff */
  color: #4A4A4A; /* Dark Gray text */
}

.calendarGrid .calHeader{
  overflow: hidden;
  background-color: #FF6347; /* Tomato */
  align-items: center;
  justify-content: center;
  color: #FFF8E7; /* Light Orange text */

}

.calendarGrid .weekNumber{
  display: flex;
  overflow: hidden;
  width: auto;
  /*background-color: #FF6347;*/ /* Tomato */
  text-align: center;
  justify-content: flex-end;
}

.calendarGrid .showCol{

  width: 150px;
  transition: all 0.5s ease /* Smooth transition */
}

.calendarGrid .hideCol{
  width: 25px;
  transition: all 0.5s ease; /* Smooth transition */
}

.calendarGrid .focusRow{
  height: 41rem;
  transition: all 0.5s ease; /* Smooth transition */
}

.calendarGrid .showRow{
  height: 8rem;
  transition: all 0.5s ease; /* Smooth transition */
}

.calendarGrid .hideRow{
  height: 2rem;
  transition: all 0.5s ease; /* Smooth transition */
}


/*  ----------------------  */


button {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #898989;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 10px;
}
button:hover {
  background-color: #ff7a3d;
  color: #000;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.loginform{
  border-radius: 5px;
  border-color: #888888;
  padding: 25px;
  width: 30%;
  margin: 20px auto auto auto;
}

.login-input {
  background-color: #fcfcfc;
}

.button-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
/*  height: 100vh; /* Optional: Set height to center vertically within the viewport */*/
}

/* CSS ANTIGO QUE A FIFIAN FEZ s2 */

table {
    margin: 0px auto;
    table-layout: fixed;
    border: 1px solid black;
}

td {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: #eeeeee;
}

h1,
h2,
p {
    text-align: center;
}


.wrapper {
    text-align: center;
}

.button {
    margin-left: auto;
    margin-right: auto;
    top: 50%;
}


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #000;
} 

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #000;
}

input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=date], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=time], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=datetime-local], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


/* ------- MODAL -----------*/

/* The Modal (background) */
.modal-hidden {
  display: none; /* Hidden by default */
}

.modal-shown {
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 20px auto auto auto; 
  padding: 20px;
  border: 1px solid #888;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* MODAL COM DUAS COLUNAS */

.form-columns {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  margin-right: 20px;
}

.column:last-child {
  margin-right: 0;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.invited-person {
  display: flex;
  align-items: center;
}

.invited-person input {
  flex: 1;
  margin-right: 10px;
}

.button-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}