:root{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fffbf1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-scope="dialog"] {
  background: #1a1a1a !important;
  --bg-currentcolor: #1a1a1a !important;
}

button {
  background-color: #1a1a1a;
  color: #ffffff;
}

input::placeholder {
  color: #888888;
  opacity: 1;
}

/* For Firefox */
input::-moz-placeholder {
  color: #888888;
  opacity: 1;
}

/* For Chrome/Safari/Opera */
input::-webkit-input-placeholder {
  color: #888888;
}

/* For Internet Explorer */
input:-ms-input-placeholder {
  color: #888888;
}


body, ul, li, p {
  margin: 0px;
  padding: 0px;
  list-style: none;

}

/*  ---------- HEADER ------------  */ 

.header{
  background: #ff7a3d;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header h1 {
  display: block;
}

h1:hover {
  background-color: orange;
}

.header a {
  text-decoration: none;
  color: #ffffff;
}

.menu{
  display: flex;
  justify-content: space-between;
}

.menu li{
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
}

.menu li a:hover {
  background-color: orange;
}

.logout{
  display: flex;
  justify-content: space-between;
}

.logout li{
  margin-left: 10px;
}

.logout li a {
  display: block;
  padding: 10px;
}

.logout li a:hover {
  background-color: orange;
}

/*  ----CALENDARIO MES------  */

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-style: solid;
  border-radius: 5px;
  grid-gap: 2px;
  padding: 20px;
  min-width: 50%;
  max-width: 80%;
  margin: auto;
}

.calendarGrid .dayInMonthCal{
  background-color: orange;
  border-style: solid;
  border-radius: 5px;
  min-height: 100px;
}

.calendarGrid .dayOutMonthCal{
  background-color: #aaaaaa;
  border-style: solid;
  border-radius: 5px;
  min-height: 100px;
}

.calendarGrid .header{
  display: block;
  background-color: #dddddd;
  border-style: solid;
  border-radius: 5px;

}

/*  ----------------------  */


button {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #898989;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px auto 10px auto
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.loginform{


  border-radius: 5px;
  border-color: #888888;
  padding: 25px;

  width: 30%;
  margin: 20px auto auto auto;
}

.login-input {
  background-color: #fcfcfc;
}

.centralized-button  {
  text-align:center
}

/* CSS ANTIGO QUE A FIFIAN FEZ s2 */

table {
    margin: 0px auto;
    table-layout: fixed;
    border: 1px solid black;
}

td {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: #eeeeee;
}

h1,
h2,
p {
    text-align: center;
}


.wrapper {
    text-align: center;
}

.button {
    margin-left: auto;
    margin-right: auto;
    top: 50%;
}

/* 
div {
  width: 100%;
} */


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} 

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=date], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
